#payContent {
    left: 0px;
    margin-left: 235px;
}

#payFunction .row {
    margin-bottom: 0px !important;
    padding: 0 10px;
}

.modal-backdrop{
    background-color: #00000080;
}

#payOrderButtonVoid {
    background-color: #cf1e1e;
    border-color: #a21818;
}

#payOrderButtonVoid:hover {
    background-color: #a21818;
    border-color: #490b0b;
}